*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
.container{
    display: flex;
    font-style: italic;
    font-size: large;
    color: darkmagenta;
}
li{
    display: flex;
    list-style: none;
    padding: 10px;

}
ul{
    padding: 10px;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;
}
a :hover{
    color: blue;
}
    